.titulo {
	color: red;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	font-size: 25px;
}	
.cont {
	width: 600px;
	height: 400px;
	margin: 20px;
	border: 2px solid black;
	text-align: center;
	padding:0px;
}
.conteiner {
	text-align: center;
}
